{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h1>Password change</h1>

    <form action="" method="post">
      {% csrf_token %}

      {% if form.email.errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.email.errors }}
        </div>
      {% endif %}

      <div class="form-group">
        <label for="id_email">Email:</label>
        {{ form.email }}
      </div>

      <button type="submit" class="btn btn-primary btn-lg">Change password</button>
    </form>
  </div>
{% endblock %}
