{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Transaction Detail</h2>

        <table class="table table-bordered">
            <tr>
                <th>Transaction Type</th>
                <td>{{ transaction.transaction_type }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ transaction.category.get_category_name_display }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ transaction.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transaction.date | date:"Y-m-d" }}</td>
            </tr>
        </table>

        <div class="mb-3">
            <a href="{% url 'edit_transaction' transaction.id %}" class="btn btn-primary">Edit Transaction</a>
            <a href="#" onclick="showConfirmationDialog({{ transaction.id }})" class="btn btn-danger">Delete Transaction</a>
        </div>

        <script>
            function showConfirmationDialog(transactionId) {
                var isConfirmed = confirm("Are you sure you want to delete this transaction?");

                if (isConfirmed) {
                    window.location.href = "{% url 'delete_transaction' transaction_id=0 %}".replace('0', transactionId);
                }
            }
        </script>

        <p><a href="{% url 'transaction_list' %}" class="btn btn-secondary">Back to Transaction List</a></p>
    </div>
{% endblock %}
